<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Project Site</h1>

  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Name of Project Site</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      
      <div class="mb-3">
        <label class="form-label" for="scope">Scope of Work</label>
        <textarea
          class="form-control"
          type="text"
          id="scope"
          name="campground[scope]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
        <label class="form-label" for="equipment1">Equipment Support (Initial)</label>
        <textarea
          class="form-control"
          type="text"
          id="equipment1"
          name="campground[equipment1]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
        <label class="form-label" for="equipment2">Equipment Support (Follow-up)</label>
        <textarea
          class="form-control"
          type="text"
          id="equipment2"
          name="campground[equipment2]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>



<div class="mb-3">
        <label class="form-label" for="safeguards">Safeguards</label>
        <textarea
          class="form-control"
          type="text"
          id="safeguards"
          name="campground[safeguards]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
        <label class="form-label" for="gender">Gender Action</label>
        <textarea
          class="form-control"
          type="text"
          id="gender"
          name="campground[gender]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>


      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input"
            id="image"
            name="image"
            multiple
          />
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label"
              >Upload some pictures...</span
            >
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add this Site</button>
      </div>
    </form>
    <a href="/campgrounds">Back to Project Sites list</a>
  </div>
</div>
