<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Project Site</h1>

  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Name of Project Site</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

  <div class="mb-3">
        <label class="form-label" for="connection">Connection</label>
        <input
          class="form-control"
          type="text"
          id="connection"
          name="campground[connection]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

   <div class="mb-3">
        <label class="form-label" for="situation">Current Stituation</label>
        <textarea
          class="form-control"
          type="text"
          id="situation"
          name="campground[situation]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="scope">Scope of Work</label>
        <textarea
          class="form-control"
          type="text"
          id="scope"
          name="campground[scope]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

  <div class="mb-3">
        <label class="form-label" for="scope_detail">Works Details</label>
        <textarea
          class="form-control"
          type="text"
          id="scope_detail"
          name="campground[scope_detail]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

 <div class="mb-3">
  <label for="scope_starty">Works Start (Year)</label>
  <select name="scope_starty" id="scope_starty">
    <option value="2024">2024</option> <option value="2025">2025</option> <option value="2026">2026</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="scope_startq">Works Start (Quarter)</label>
  <select name="scope_startq" id="scope_startq">
    <option value="Q1">Q1</option> <option value="Q2">Q2</option> <option value="Q3">Q3</option>  <option value="Q4">Q4</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

 <div class="mb-3">
  <label for="scope_endy">Works End (Year)</label>
  <select name="scope_endy" id="scope_endy">
    <option value="2026">2026</option> <option value="2027">2027</option> <option value="2028">2028</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="scope_endq">Works End (Quarter)</label>
  <select name="scope_endq" id="scope_endq">
    <option value="Q1">Q1</option> <option value="Q2">Q2</option> <option value="Q3">Q3</option>  <option value="Q4">Q4</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
        <label class="form-label" for="equipment1">Equipment Support (Initial)</label>
        <textarea
          class="form-control"
          type="text"
          id="equipment1"
          name="campground[equipment1]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="equipment1_starty">Procurement Start (Year)</label>
  <select name="campground[equipment1_starty]" id="equipment1_starty">
    <option value="2024">2024</option> <option value="2025">2025</option>   
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="equipment1_startq">Procurement Start  (Quarter)</label>
  <select name="campground[equipment1_startq]" id="equipment1_startq">
    <option value="Q1">Q1</option> <option value="Q2">Q2</option>   <option value="Q3">Q3</option>  <option value="Q4">Q4</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

 <div class="mb-3">
  <label for="equipment1_endy">Delivery Scheduled (Year)</label>
  <select name="campground[equipment1_endy]" id="equipment1_endy">
  <option value="2024">2024</option> <option value="2025">2025</option> <option value="2026">2026</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="equipment1_endq">Delivery Scheduled (Quarter)</label>
  <select name="campground[equipment1_endq]" id="equipment1_endq">
    <option value="Q1">Q1</option> <option value="Q2">Q2</option>   <option value="Q3">Q3</option>  <option value="Q4">Q4</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>







<div class="mb-3">
        <label class="form-label" for="equipment2">Equipment Support (Follow-up)</label>
        <textarea
          class="form-control"
          type="text"
          id="equipment2"
          name="campground[equipment2]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="equipment2_starty">Procurement Start (Year)</label>
  <select name="campground[equipment2_starty]" id="equipment2_starty">
  <option value="2025">2025</option> <option value="2026">2026</option> <option value="2027">2027</option>   <option value="2028">2028</option>
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="equipment2_startq">Procurement Start (Quarter)</label>
  <select name="campground[equipment2_startq]" id="equipment2_startq">
    <option value="Q1">Q1</option> <option value="Q2">Q2</option>   <option value="Q3">Q3</option>  <option value="Q4">Q4</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

 <div class="mb-3">
  <label for="equipment2_endy">Delivery Scheduled (Year)</label>
  <select name="campground[equipment2_endy]" id="equipment2_endy">
   <option value="2025">2025</option> <option value="2026">2026</option> <option value="2027">2027</option>   <option value="2028">2028</option>
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
  <label for="equipment2_endq">Delivery Scheduled (Quarter)</label>
  <select name="campground[equipment2_endq]" id="equipment2_endq">
    <option value="Q1">Q1</option> <option value="Q2">Q2</option>   <option value="Q3">Q3</option>  <option value="Q4">Q4</option> 
  </select>
  <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
        <label class="form-label" for="safeguards">Safeguards</label>
        <textarea
          class="form-control"
          type="text"
          id="safeguards"
          name="campground[safeguards]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

<div class="mb-3">
        <label class="form-label" for="gender">Gender Action</label>
        <textarea
          class="form-control"
          type="text"
          id="gender"
          name="campground[gender]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>


      <div class="mb-3">
        <div class="form-file custom-file">
          <input
            type="file"
            class="form-file-input"
            id="image"
            name="image"
            multiple
          />
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label"
              >Upload some pictures...</span
            >
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add this Site</button>
      </div>
    </form>
    <a href="/campgrounds">Back to Project Sites list</a>
  </div>
</div>
